.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 26px;
  padding-right: 26px;
  margin: 100px 24px 90px 24px;
  font-size: 18px;
}

.header_menu {
  align-self: center;
  justify-self: start;
  padding-right: 40px;
  white-space: nowrap;
}

.header_links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  text-underline-offset: 4px;
}

.header_links-list-item_no-bullit {
  list-style-type: none;
}

.header_link_active {
  text-decoration: none;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.address {
  align-self: center;
  justify-self: center;
  line-height: 24.3px; /* 135% */
  text-underline-offset: 4px;
}

.header_address {
  font-style: normal;
}

.cover {
  display: grid;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 757px;
  color: #fff;
  text-transform: uppercase;
  padding: 165px 50px 51px 50px;
}

.cover_title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
  gap: 7px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  text-align: center;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended_o {
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
}

.letter-spacing-extended_no {
  line-height: 115%;
  letter-spacing: 60px;
}

.letter-spacing-extended_te {
  line-height: 100%; /* 100px */
  letter-spacing: 30px;
}

.letter-spacing-extended_be {
  line-height: 100%;
  letter-spacing: 60px;
}

.letter-spacing-extended_n {
  line-height: 100%; /* 100px */
  letter-spacing: 60px;
}

.letter-spacing-extended_ad {
  line-height: 100%;
  letter-spacing: 30px;
}

.letter-spacing-extended_last {
  line-height: 100%;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.letter-spacing {
  letter-spacing: 20px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover_description-text {
  font-size: 22px;
  line-height: 28px; /* 127.273% */
  padding-bottom: 11px;
  padding-left: 20px;
}

.bet-button {
  width: 256px;
  height: 51px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  padding: 179px 24px 0px 24px;
  font-size: 20px;
}

.lots_heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots_card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style-type: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px 40px;
  color: #fff;
  line-height: 120%; /* 24px */
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
  z-index: 1;
}

.card_type_film {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card_title {
  font-size: 22px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-underline-offset: 4px;
  line-height: 120%; /* 24px */
}

.lots_look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 820px;
  text-underline-offset: 4px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin: 180px 24px 181px 24px;
}

.about_logo {
  justify-self: center;
  align-self: center;
}

.about_column {
  align-self: center;
  padding-left: 25px;
  padding-top: 10px;
}

.about_title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: -1/-2;
  font-size: 20px;
  line-height: 24px; /* 120% */
  letter-spacing: 0.2px;
  padding-left: 25px;
  padding-top: 10px;
}

.about_logo-image {
  width: 148px;
  height: 114px;
  flex-shrink: 0;
  margin: 63px 46px;
}

.about_logo-image-background {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 88px 50px;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}

.footer_social-list {
  display: flex;
  list-style-type: none;
  gap: 48px;
}

.footer_menu-list {
  list-style-type: none;
  text-align: center;
  padding-left: 50px;
  text-underline-offset: 4px;
}

.footer_social-link {
  text-decoration: none;
}

.footer_menu-link_active {
  text-decoration: none;
}





